.top {
  background-image: url("../HPkadaiimg/よくある質問。.png");
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
}
.top {
  padding-top: 13vh;
}
.faq-wrap__body {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5%;
}
.ttl h2 {
  font-size: 3rem;
  text-align: center;
  margin: 40px 0 0 0;
  padding: 40px;
}

.faq-wrap__body__list {
  width: 80%;
  margin: 0 auto;
}
.faq-wrap__body__list__item {
  position: relative;
  margin: 1.5%;
  background-color: #fff;
  border-radius: 5rem;
  padding: 1.75% 3.5%;
  list-style: none;
  border: 2px solid #008fb5;
}
.faq-wrap__body__list__item__tog {
  display: none;
}

.faq-wrap__body__list__item__tog:checked
  + .faq-wrap__body__list__item__ttl
  + .faq-wrap__body__list__item__con {
  max-height: 500px;
  transition: all 1.5s;
}

.faq-wrap__body__list__item__tog:checked
  + .faq-wrap__body__list__item__ttl::before {
  transform: rotate(90deg);
}
.faq-wrap__body__list__item__ttl,
.faq-wrap__body__list__item__con {
  transform: translate(0);
  transition: all 0.3s;
}
.faq-wrap__body__list__item__ttl {
  display: block;
  font-weight: 500;
  color: #008fb5;
  font-size: 20px;
}

.faq-wrap__body__list__item__ttl::after,
.faq-wrap__body__list__item__ttl::before {
  content: "";
  position: absolute;
  right: 0.35rem;
  top: 0.35rem;
  width: 2.5px;
  height: 17.5px;
  background-color: #000;
  transition: all 0.3s;
}

.faq-wrap__body__list__item__ttl::after {
  transform: rotate(90deg);
}
.faq-wrap__body__list__item__con {
  max-height: 0;
  overflow: hidden;
}

.faq-wrap__body__list__item__con p {
  padding: 1% 0 0 0;
  font-weight: 500;
  border-top: 1px solid #ccc;
  margin: 1%;
}
