.top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.15)),
    url("../HPkadaiimg/home_top.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 160px 100px;
  position: relative;
  z-index: 0;
  margin-bottom: 40px;
  object-fit: contain;
}
.top-wrap {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.top-wrap__ttl {
  color: #fff;
}
.top-wrap__ttl h1 {
  font-size: 3.3rem;
  line-height: 1.7;
  writing-mode: vertical-rl;
  margin-top: 90%;
  -ms-writing-mode: tb-rl;
  text-indent: -1.3em;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  margin-left: 60px;
}
.top-wrap__ttl__inline {
  border-right: 4px solid#fff;
}
.news-wrap {
  padding: 40px 0 40px 0;
  display: flex;
  justify-content: space-between;
}
.news-wrap__left {
  display: flex;
  width: 10%;
  margin: auto 0;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.news-wrap__right {
  width: 70%;
  text-align: left;
}
.news-wrap__right__list {
  text-align: center;
  border-left: 1px solid gray;
  font-size: 16px;
}
.news-wrap__right__list__item {
  margin-left: 10%;
  list-style: none;
  display: flex;
  border-bottom: dashed 1px #ccc;
  margin-bottom: 1.5%;
  padding-bottom: 1.5%;
  text-align: center;
}
.news__txt {
  text-align: left;
  width: 50%;
}
.news-wrap__right__list__item span {
  background-color: #008fb5;
  color: #fff;
  border-radius: 20px;
  padding: 0 20px;
  margin: 0 20px;
}
.news__ttl {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  text-align: right;
  color: #008fb5;
}
.symptom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../HPkadaiimg/haikei1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 60px;
}
.symptom::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}
.ttl {
  text-align: center;
  font-size: 48px;
}
.symptom-wrap__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 3%;
}
.symptom-wrap__list__item {
  background-color: #fff;
  width: 180px;
  height: 250px;
  padding: 25px;
  border-radius: 25px;
  margin: 1%;
  list-style: none;
}
.symptom-wrap__list__item a {
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 250px;
}
.symptom-wrap__list__item__img {
  width: 100%;
  height: 170px;
}
.symptom-wrap__list__item__img img {
  width: 100%;
}
.bell-icon {
  text-align: center;
  padding: 60px 0 20px 0;
}

.bell-icon i {
  font-size: 53px; /* ✅ 大きさ調整 */
  color: black; /* 任意：色を青系に */
}

.symptom-wrap__list__item__txt {
  display: flex;
  color: #000;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  align-items: center;
  height: 91px;
  font-size: 17px;
  font-weight: bold;
  margin: auto 0;
  padding: 0;
  justify-content: center; /* 横方向中央 */
  align-items: center;
}
.reason-wrap {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
  padding: 40px 0 40px 0;
}
.reason-wrap::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 352px);
  border-radius: 2rem;
  background-color: #71ccd4;
  z-index: -1;
  max-width: 1480px;
}
li {
  list-style: none;
}
.bell-icon1 {
  text-align: center;
}
.bell-icon1 i {
  font-size: 53px; /* ✅ 大きさ調整 */
  color: black; /* 任意：色を青系に */
}
.reason-wrap__body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  z-index: 3;
  justify-content: center;
}
.reason-wrap__body__txt {
  text-align: center;
  color: #fff;
}
.reason-wrap__body__txt__con {
  display: flex;
  text-align: left;
}
.reason-wrap__body__img {
  padding-bottom: 30px;
}
.reason-wrap__body__img img {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  width: 360px;
}
.reason-wrap__body__item {
  width: 355px;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
}
.reason-wrap__body__txt__head {
  position: relative;
}
.reason-wrap__body__txt__head p {
  position: absolute;
  width: 355px;
  bottom: -50px;
}
.reason-wrap__body__txt__head {
  font-size: 120px;
  text-shadow: 2px 2px 9px #000;
}
.reason-wrap__body__txt__txt {
  font-size: 28px;
  font-weight: lighter;
  padding: 30px 0 30px 0;
}
.guide-wrap {
  width: 100vw;
  display: flex;
  padding: 40px 0 40px 0;
}
.guide-wrap__right {
  text-align: left;
  width: 60%;
  overflow-x: auto;
  padding: 20px;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.guide-wrap__right__con {
  display: flex;
  gap: 100px;
  animation: scroll 30s linear infinite;
}
.guide-wrap__right__con__card {
  flex: 0 0 auto;
  width: 400px;
  background-color: #fff;
  border-radius: 40px 0 0 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  height: auto;
}
.guide-wrap__right__con__img img {
  width: 30%;
  height: auto;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.guide-wrap__left {
  width: 40%;
  justify-content: center;
}
.guide-wrap__left__ttl {
  font-size: 32px;
  text-align: center;
  padding-top: 40px;
}
.guide-wrap__left__btn {
  display: flex;
  text-align: center;
  padding-top: 40px;
}
.guide-wrap__left__btn a {
  width: 43%;
  margin: 0 auto;
  background-color: #008fb5;
  border-radius: 999px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.guide-wrap__left__txt {
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
}
.guide-wrap__right__con {
  display: flex;
  width: 70%;
  gap: 20px;
  padding-left: 30px;
}
.guide-wrap__right__con__img {
  list-style: none;
}
.guide-wrap__right__con__card img {
  width: 400px;
  height: 100%;
  object-fit: cover;
}
.guide-wrap__right__con__txt {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 33%;
  padding: 5px 10px;
  background: #fff;
  color: #008fb5;
  font-size: 20px;
  text-align: left;
}
.information {
  background-color: #eaf7f9;
}
.information-wrap {
  width: 90vw;
  margin: 0 auto;
  padding: 0 0 40px 0;
}
.information-wrap__ttl {
  text-align: center;
  font-size: 42px;
}
.information-wrap__body {
  width: 100%;
  text-align: center;
  margin-top: 3%;
}
.information-wrap__body__con {
  margin-left: 10%;
  list-style: none;
  display: flex;
  border-bottom: dashed 1px #ccc;
  margin-bottom: 1.5%;
  padding-bottom: 1.5%;
  font-size: 20px;
}
.information-wrap__body__con span {
  margin-left: 30px;
}
