.top {
  background-image: url("../HPkadaiimg/\ クリニック概要.png");
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
}
.f1-wrap {
  width: 95vw;
  margin: 0 auto;
  padding: 40px 0 0 0;
  font-weight: bold;
}
.ttl h2 {
  font-size: 3rem;
  text-align: center;
  margin: 40px 0 0 0;
  padding: 40px;
}

.top {
  padding-top: 13vh;
}
.ttl::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  background-color: #000;
  right: 47.5%;
  position: absolute;
}
.f1-wrap__body__block1 {
  display: flex;
  padding: 40px 0 40px 0;
  justify-content: center;
  gap: 60px;
}
.f1-wrap__body__block1__left {
  width: 45%;
}
.f1-wrap__body__block1__left__img {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.f1-wrap__body__block1__left__img img {
  width: 100%;
  border-radius: 20px;
}
.f1-wrap__body__block1__right {
  width: 50%;
  padding: 40px 0 40px 0;
}
.f1-wrap__body__block1__right__head {
  font-size: 28px;
  color: #008fb5;
  padding-bottom: 20px;
}
.f1-wrap__body__block1__right__txt {
  font-size: 20px;
  padding-bottom: 40px;
}
.f1-wrap__body__block1__right__btn {
  width: 40%;
  font-size: 20px;
  background-color: #008fb5;
  color: #fff;
  padding: 20px;
  border-radius: 999px;
  text-align: center;
}
.f1-wrap__body__block1__right__btn a {
  color: #fff;
  text-decoration: none;
  display: block;
  position: relative;
  width: 100%;
}
.f1-wrap__body__block1__right__btn a .f1 {
  position: absolute;
  right: 10px; /* 左端に近づける。調整可能 */
  top: 50%;
  transform: translateY(-50%);
}
.f1-wrap__body__block2 {
  display: flex;
  padding: 40px 0 40px 0;
  justify-content: center;
  gap: 40px;
}
.f1-wrap__body__block2__right {
  width: 50%;
  align-items: center;
}
.f1-wrap__body__block2__right__img {
  display: flex;
  justify-content: center;
  width: 100%;
}
.f1-wrap__body__block2__right__img img {
  width: 100%;
  border-radius: 20px;
}
.f1-wrap__body__block2__left {
  width: 44%;
  padding: 40px 0 0 0;
}
.f1-wrap__body__block2__left__head {
  font-size: 28px;
  color: #008fb5;
  padding-bottom: 20px;
}
.f1-wrap__body__block2__left__txt {
  font-size: 20px;
  padding-bottom: 40px;
}
.f1-wrap__body__block__left {
  width: 50%;
}
.f1-wrap__body__block1__left__head {
  font-size: 28px;
  padding-bottom: 30px;
}
.f1-wrap__body__block__right {
  width: 50%;
}
.f1-wrap__body__block__right__head {
  font-size: 28px;
  padding-bottom: 30px;
}
.f1-wrap__body__block1__right__list__item {
  padding-bottom: 30px;
  list-style: inside;
  text-indent: -1.4em; /* 最初の行だけ左に戻す */
  padding-left: 1.2em;
  font-size: 20px;
}
.f1-wrap__body__block7 {
  background-color: #eaf7f9;
  border-radius: 0 100px 0 100px;
  padding: 40px;
}
.f1-wrap__body__block7__ttl {
  text-align: center;
  font-size: 28px;
  color: #008fb5;
  padding-bottom: 40px;
}
.f1-wrap__body__block7__content__head {
  font-size: 28px;
  padding-bottom: 40px;
  color: #008fb5;
}
.f1-wrap__body__block7__content__txt {
  padding-bottom: 40px;
}
.f1-wrap__body__block7__content__list__item {
  list-style: inside;
  font-size: 20px;
  color: #008fb5;
}
p {
  font-size: 20px;
}
.f1-wrap__body__block7__content__list {
  padding-bottom: 30px;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin: 40px 0;
}
.f1-wrap__body__block7__content__head {
  font-size: 28px;
}
.f1-wrap__body__block8__ttl {
  text-align: center;
  padding: 40px 0 40px 0;
  font-size: 38px;
  color: #008fb5;
}
.f2-wrap {
  width: 95vw;
  margin: 0 auto;
  font-weight: bold;
  background-color: #eaf7f9;
  border-radius: 0 100px 0 100px;
}
.f2-wrap__body__block1 {
  padding: 40px 0 40px 40px;
}
.f2-wrap__body__block1__head {
  font-size: 28px;
}
.f2-wrap__body__block1__btn {
  width: 20%;
  font-size: 20px;
  background-color: #008fb5;
  color: #fff;
  padding: 20px;
  border-radius: 999px;
  text-align: center;
  margin-top: 40px;
}
.f2-wrap__body__block1__btn a {
  color: #fff;
  text-decoration: none;
  display: block;
  position: relative;
  width: 100%;
}
.f2-wrap__body__block1__btn a .f2 {
  position: absolute;
  right: 10px; /* 左端に近づける。調整可能 */
  top: 50%;
  transform: translateY(-50%);
}
.f1-wrap__body__block3__left__head {
  color: #000;
  font-size: 28px;
  margin-bottom: 20px;
}
